/*@media only screen and (max-width: 768px) {
  body {
   background-color: blue;
  
 
  nav.menu {
   padding: 0;
  }
 
 }*/

/*@media screen and (min-width: 800px) {
  .container {
    margin: 1em 2em;
  }
}*/

/* RESPONSIVE MODE TABLETTE */

/* RESPONSIVE MODE TELEPHONE */




/* STYLE SITE WEB */


body{

  background-image: radial-gradient(farthest-corner at 40px 40px,  #ff9558, #ff895c, #ff7c61, #ff686c, #ff537d, #ff3e93, #ff2ead);
  color: #ffffdf;
font-family: 'Bellota', cursive;

font-size: 1.2em;

  min-height: 100vh;
  display: grid;
  grid-template-columns: 24em 1fr;
  grid-gap : 10px;
  grid-template-areas:
             "info info"
             "hh nav"
             "main main"
             "cta cta"
             "ft ft";
  grid-template-rows: auto auto 1fr auto 2.5em;

  padding: 0;
  margin: 0;

}

ul {
  max-width: 25em;
  margin: auto;
}

li {
  margin: 1em;
}

.selected {
  background-color:  #640064;
  color: #ffffdf;
}





.cta {
    grid-area: cta;
    display: flex;
    justify-content: space-around;
}



/* MENU BURGER */


.menu {
  /* Pour que le menu reste en place quand on scroll */
  position: fixed;
  /* Pour que le menu ne soit pas sur le texte et que ce dernier puisse être sélectionné */
  width: 0px;
  right: 0;
  padding-right: 14rem;
}

.menu_nav {
  margin: 0em;
  text-align: right;
  margin-left: 11rem;
}

main {
  /* Pour que le texte ne soit pas sous le menu */
  margin-left: 50px;
  width: 500px;
  text-align: justify;
}

#hamburger {
  /* Pour que la checkbox ne s'affiche pas */
  display: none;
}

#hamburger-logo {
  /* Pour que le curseur soit un pointeur */
  cursor: pointer;
  width: 200px;
  display: block;
  color: rgb(0, 0, 0);
  /* Pour que le menu hamburger s'affiche toujours */
  text-align: right;
  /* Pour que le menu hamburger soit "rangé" par défaut */
  transform: translateX(-168px);
  padding: 10px;
}

nav {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 300px;
  /* Pour que les liens soient "rangés" par défaut */
  transform: translateX(-270px);
}

#hamburger-logo,
nav {
  /* Pour qu'il y ait une animation */
  transition: 0.7s;
}

/* Lorsque #hamburger est coché, le #hamburger-logo et le nav qui sont dans le même parent changent de propriété */
#hamburger:checked ~ #hamburger-logo,
#hamburger:checked ~ nav {
  /* Changement de la position pour afficher les menus */
  transform: translate(0);
}



h4 {
  margin: 0;
  padding: 0.5em;
  text-align: center;
}
/*
.event:hover {
  transform: translateY(-0.5em);
}
*/

table{
  border-collapse: collapse;
  font-size: 1.5em;
}

tr{
  height: 4em;
  border-bottom: 0.1rem solid #ffffdf;
}

td{
    border-bottom: 0.1rem solid #ffffdf;
    padding: 1em;
}

hr{
  border: 0.1rem solid #ffffdf;
  margin: 0.15rem;
}


.icon {
  box-shadow: 0.05em 0.05em 0.25em #33177766;
}

img.icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  background-color: #7733EE;
  border-radius: 0.6em;
  padding:0.2em;
  vertical-align: middle;
  mix-blend-mode:multiply;

}

span.icon {
  color: #ffffff;
  display: inline-block;
  background-color: #7733EE;
  border-radius: 0.6em;
  padding-left: 0em;
  padding-right: 0.4em;
  mix-blend-mode:multiply;
}

.icon img {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  padding:0.2em;
  vertical-align: middle;
}

img.icon-ok,
span.icon-ok {
  background-color: #229933;
  color: #ffffdf;
  box-shadow: 0.05em 0.05em 0.25em #11551188;
  mix-blend-mode: normal;
}

img.icon-no,
span.icon-no {
  background-color: #CF0022;
  color: #ffffdf;
  box-shadow: 0.05em 0.05em 0.25em #66001188;
  mix-blend-mode: normal;
}

img.icon-neutral,
span.icon-neutral {
  background-color: #4455CC;
  color: #ffffdf;
  box-shadow: 0.05em 0.05em 0.25em #66001188;
  mix-blend-mode: normal;
}


a:hover .icon,
h3 a:hover,
h2 input:hover{
  transform: scale(1.15,1.15);
}
a .icon,
h3 a,
h2 input{
  transition-property: transform;
  transition-duration: 0.2s;
}

input,
textarea,
select {
  font-size: 1em;
  border-radius: 0.3em;
  background-color: #ffffdf;
  color: #640064;
  border: none;
  box-shadow: 0.05em 0.05em 0.25em #33177766;
  padding: 0.1em 0.3em;
}

table textarea{
  font-size: 0.5em;
}

h2 input {
  color: #ffffdf;
  background-color:  #7733EE;
  margin: 1em auto;
}

input[type="submit"] {
  cursor:pointer;
  font-family: 'Titillium Web', sans-serif;
}

input[type="checkbox"] {
  width: 0.75em;
  height: 0.75em;
}

h3 textarea {
  margin-left: 3em;
}


.hh {
    grid-area: hh;
    padding: 1em;
}

#info  {
  margin-top:0;
  grid-area: info;
  padding: 1.5em;
  text-align: center;
  font-weight: bold;
  background-color: #640064;
  font-size: 1.5em;
  font-family: 'Titillium Web', sans-serif;
}


h1  {
  font-family: 'Monoton', cursive;
  line-height: 1.4em;
  word-spacing: 0.3em;
  font-size: 4em;

  padding: 0 0.5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
/*   mix-blend-mode: screen;
   background-color: white;
   color: black;*/
}

h1 img {
  display:inline-block;
  margin: 0.8em auto 0 0.5em;
  width: 75%;
/*  padding: 1em;*/
}



/* INDEX */

h2,
legend {
/*  font-family: 'Bellota', cursive;*/
  font-family: 'Titillium Web', sans-serif;
  text-align: center;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  font-size: 2em;
  /* padding-bottom: 1em;
  border-bottom: 0.2rem solid white; */
}

@media(min-width: 640px) {
  .h2, legend {
    font-size: 10px;
  }
}

@media(min-width: 768px) {
  .h2, legend {
    font-size: 11px;
  }
}

@media(min-width: 1024px) {
  .h2, legend {
    font-size: 12px;
  }
}

@media(min-width: 1280px) {
  .h2, legend {
    font-size: 14px;
  }
}

ul {
  max-width: 25em;
  margin: auto;
}

@media(min-width: 640px) {
  .ul {
    font-size: 10px;
  }
}

@media(min-width: 768px) {
  .ul {
    font-size: 11px;
  }
}

@media(min-width: 1024px) {
  .ul {
    font-size: 12px;
  }
}

@media(min-width: 1280px) {
  .ul {
    font-size: 14px;
  }
}



h3 {
    font-family: 'Titillium Web', sans-serif;
/*    font-family: 'Bellota', cursive;*/
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  font-size: 1.5em;
/*  padding-left: 1em;*/
}

.ok {
  position:absolute;
  left:-3em;
  top:0.5em;
}

.pourcent {
  position:absolute;
  z-index: -1;
  background-color:white;
  top:0;
  left:0;
  bottom:0;
  border-radius: 0.5em;
}

.questions h3 {
  text-align: center;
}

.question {
  border: .1em solid white;
  border-radius: 2em;
}

.question li {
  list-style-type: none;
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.question li a {
  padding: 0.5em;
  flex-grow: 1;
  text-decoration: none;
  border: .1em solid white;
  border-radius: 0.5em;
  position: relative;
  font-weight: bold;
}

.question li p{
  flex-grow: 0;
  padding: 0 0.5em;
  width:3em;
}

fieldset{
  border: .1em solid white;
  padding: 1em 3em;
}


h4 {
    font-family: 'Bellota', cursive;
}

p {
    font-family: 'Bellota', cursive;
}

h2 img,
h3 img {
  margin-right: 0.6em;
}

/* h2:not(:first-child){
  border-top: 0.2rem solid white;
  padding-top: 0.7em;
} */


main a {
  font-family: 'Titillium Web', sans-serif;
}
main p {
  padding: 0.5em;
}


nav {
  grid-area: nav;
  text-align: right;
  margin: 0.5em;
}

nav a{
  margin: 0 0.5em;
}

main {
  width: 90%;
  grid-area: main;
  /* border: 0.2rem solid white;
  border-radius: 0.5em; */
  padding: 0 0.5em;
  /* background-color: #33227715; */
  vertical-align: top;
  margin-left: auto;
  margin-right: auto;
}

/* ARTICLES */



.articles_liens-list-item {
  list-style-type: none;
}

.articles {
  color: #640064;
  grid-area: ft;
  font-family: 'Titillium Web', sans-serif;
  border-top: 0.1rem solid #640064;
  margin: auto 0;
  padding: 0 2em;
}

.articles_columns-wrapper {
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
}

.articles_column {
  width: 16.666%;
  padding-right: 15px;
  padding-top: 60px;                                                      
  z-index: 1;
}

.articles_row {
  margin-bottom: 35px;
}

.articles_row-title {
  display: inline-block;
  color: #f8fbf6;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: .2em;
  font-weight: 900;
  margin-bottom: 10px;
  margin-left: 10px;
}

@media(min-width: 640px) {
  .articles_row-title {
    font-size: 10px;
  }
}

@media(min-width: 768px) {
  .articles_row-title {
    font-size: 11px;
  }
}

@media(min-width: 1024px) {
  .articles_row-title {
    font-size: 12px;
  }
}

@media(min-width: 1280px) {
  .articles_row-title {
    font-size: 14px;
  }
}

.articles_content-wrapper {
  opacity: 1;
  visibility: visible;
  overflow: visible;
  height: auto!important;
  border-bottom: none;
  margin: 0;
}

.articles_liens-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.articles_liens-list-item {
  margin-bottom: 10px;
  color: #f8fbf6;
}

/* FOOTER */

.footer_liens-cliquables {
  text-decoration: none;
  color: #f8fbf6;
}

footer {
  color: #640064;
  grid-area: ft;
  font-family: 'Titillium Web', sans-serif;
  border-top: 0.1rem solid #640064;
  margin: auto 0;
  padding: 0 2em;
}

.mentions_legales {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.conditions_user {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer_columns-wrapper {
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
}

.footer_column {
  width: 16.666%;
  padding-right: 15px;
  padding-top: 60px;                                                      
  z-index: 1;
}

.footer_row {
  margin-bottom: 35px;
}

.footer_row-title {
  display: inline-block;
  color: #f8fbf6;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: .2em;
  font-weight: 900;
  margin-bottom: 10px;
  margin-left: 10px;
}

@media(min-width: 640px) {
  .footer_row-title {
    font-size: 10px;
  }
}

@media(min-width: 768px) {
  .footer_row-title {
    font-size: 11px;
  }
}

@media(min-width: 1024px) {
  .footer_row-title {
    font-size: 12px;
  }
}

@media(min-width: 1280px) {
  .footer_row-title {
    font-size: 14px;
  }
}

.footer_content-wrapper {
  opacity: 1;
  visibility: visible;
  overflow: visible;
  height: auto!important;
  border-bottom: none;
  margin: 0;
}

.footer_liens-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.footer_liens-list-item {
  margin-bottom: 10px;
  color: #f8fbf6;
}

.footer_liens-list-item > a {
  text-decoration: none;
}

.mini_cgu { /* petit message caché*/
  font-size: 0.1em;
}

.mentions_link {/* lien vers les mentions légales*/
  text-decoration: none;
  margin-left: 75%;
  background-color: #4455CC;
  padding: 0.1em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  border-radius: 50px;
  color: white;
  box-shadow: 2px 1px 1px gray;
  /*position: absolute;
  top: 96.2%;*/
  position:relative;
  bottom:22px;
  right:-50px;
  z-index:9999;
}

.mybutton
/* copier/coller du local iut, mais sans certitude son utilité (à vérifier) */

.connexion{
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

.inscription {
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}


/* FORMULAIRE CONNEXION*/

.form-box_connexion {
  max-width: 300px;
  background: #f1f7fe;
  overflow: hidden;
  border-radius: 16px;
  color: #010101;
}

.form_connexion_compte {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 32px 24px 24px;
  gap: 16px;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 30px;
}


.easteregg_style {
  font-size: 30px;
}

@media(min-width: 640px) {
  .easteregg_style {
    font-size: 10px;
  }
}

@media(min-width: 768px) {
  .easteregg_style {
    font-size: 11px;
  }
}

@media(min-width: 1024px) {
  .easteregg_style {
    font-size: 12px;
  }
}

@media(min-width: 1280px) {
  .easteregg_style {
    font-size: 14px;
  }
}



/*Form text*/
.title_connexion_compte {
  font-weight: bold;
  font-size: 1.6rem;
}

.subtitle_connexion_compte {
  font-size: 1rem;
  color: #666;
}

/*Inputs box*/
.form-container_connexion_compte {
  overflow: hidden;
  border-radius: 8px;
  background-color: #fff;
  margin: 1rem 0 .5rem;
  width: 100%;
}

.input {
  background: none;
  border: 0;
  outline: 0;
  height: 40px;
  width: 100%;
  border-bottom: 1px solid #eee;
  font-size: .9rem;
  padding: 8px 15px;
}



/*Button*/
.form button {
  background-color: #0066ff;
  color: #fff;
  border: 0;
  border-radius: 24px;
  padding: 10px 16px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color .3s ease;
}

.form button:hover {
  background-color: #005ce6;
}

/* FORMULAIRE INSCRIPTION*/

.form-box_inscription {
  max-width: 300px;
  background: #f1f7fe;
  overflow: hidden;
  border-radius: 16px;
  color: #010101;
}

.form_inscription_compte {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 32px 24px 24px;
  gap: 16px;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 65%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 30px;
}

/*Form text*/
.title_inscription_compte {
  font-weight: bold;
  font-size: 1.6rem;
}

.subtitle_inscription_compte {
  font-size: 1rem;
  color: #666;
}

/*Inputs box*/
.form-container_inscription_compte {
  overflow: hidden;
  border-radius: 8px;
  background-color: #fff;
  margin: 1rem 0 .5rem;
  width: 100%;
}

.input {
  background: none;
  border: 0;
  outline: 0;
  height: 40px;
  width: 100%;
  border-bottom: 1px solid #eee;
  font-size: .9rem;
  padding: 8px 15px;
}



/*Button*/
.form button {
  background-color: #0066ff;
  color: #fff;
  border: 0;
  border-radius: 24px;
  padding: 10px 16px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color .3s ease;
}

.form button:hover {
  background-color: #005ce6;
}

.nosboutons {
  text-align: center;
  top:50%;
  width: 130px;
  height: 30px;
  color: #fff;
  border-radius: 5px;
  padding: 5px 10px 0px 10px;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}

/* 1 */
.nosboutons-1 {
  background: rgb(6,14,131);
  background: linear-gradient(0deg, rgba(6,14,131,1) 0%, rgba(12,25,180,1) 100%);
  border: none;
}
.nosboutons-1:hover {
   background: rgb(0,3,255);
background: linear-gradient(0deg, rgba(0,3,255,1) 0%, rgba(2,126,251,1) 100%);
}
