body{

  background-image: radial-gradient(farthest-corner at 40px 40px,  #ff9558, #ff895c, #ff7c61, #ff686c, #ff537d, #ff3e93, #ff2ead);
  color: #ffffdf;
font-family: 'Bellota', cursive;

font-size: 1.2em;

  min-height: 100vh;
  display: grid;
  grid-template-columns: 24em 1fr;
  grid-gap : 10px;
  grid-template-areas:
             "info info"
             "hh nav"
             "main main"
             "cta cta"
             "ft ft";
  grid-template-rows: auto auto 1fr auto 2.5em;

  padding: 0;
  margin: 0;

}

ul {
  max-width: 25em;
  margin: auto;
}

li {
  margin: 1em;
}

.selected {
  background-color:  #640064;
  color: #ffffdf;
}





.cta {
    grid-area: cta;
    display: flex;
    justify-content: space-around;
}



h4 {
  margin: 0;
  padding: 0.5em;
  text-align: center;
}
/*
.event:hover {
  transform: translateY(-0.5em);
}
*/

table{
  border-collapse: collapse;
  font-size: 1.5em;
}

tr{
  height: 4em;
  border-bottom: 0.1rem solid #ffffdf;
}

td{
    border-bottom: 0.1rem solid #ffffdf;
    padding: 1em;
}

hr{
  border: 0.1rem solid #ffffdf;
  margin: 0.15rem;
}


.icon {
  box-shadow: 0.05em 0.05em 0.25em #33177766;
}

img.icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  background-color: #7733EE;
  border-radius: 0.6em;
  padding:0.2em;
  vertical-align: middle;
  mix-blend-mode:multiply;

}

span.icon {
  color: #ffffff;
  display: inline-block;
  background-color: #7733EE;
  border-radius: 0.6em;
  padding-left: 0em;
  padding-right: 0.4em;
  mix-blend-mode:multiply;
}

.icon img {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  padding:0.2em;
  vertical-align: middle;
}

img.icon-ok,
span.icon-ok {
  background-color: #229933;
  color: #ffffdf;
  box-shadow: 0.05em 0.05em 0.25em #11551188;
  mix-blend-mode: normal;
}

img.icon-no,
span.icon-no {
  background-color: #CF0022;
  color: #ffffdf;
  box-shadow: 0.05em 0.05em 0.25em #66001188;
  mix-blend-mode: normal;
}

img.icon-neutral,
span.icon-neutral {
  background-color: #4455CC;
  color: #ffffdf;
  box-shadow: 0.05em 0.05em 0.25em #66001188;
  mix-blend-mode: normal;
}


a:hover .icon,
h3 a:hover,
h2 input:hover{
  transform: scale(1.15,1.15);
}
a .icon,
h3 a,
h2 input{
  transition-property: transform;
  transition-duration: 0.2s;
}

input,
textarea,
select {
  font-size: 1em;
  border-radius: 0.3em;
  background-color: #ffffdf;
  color: #640064;
  border: none;
  box-shadow: 0.05em 0.05em 0.25em #33177766;
  padding: 0.1em 0.3em;
}

table textarea{
  font-size: 0.5em;
}

h2 input {
  color: #ffffdf;
  background-color:  #7733EE;
  margin: 1em auto;
}

input[type="submit"] {
  cursor:pointer;
  font-family: 'Titillium Web', sans-serif;
}

input[type="checkbox"] {
  width: 0.75em;
  height: 0.75em;
}

h3 textarea {
  margin-left: 3em;
}


.hh {
    grid-area: hh;
    padding: 1em;
}

#info  {
  margin-top:0;
  grid-area: info;
  padding: 1.5em;
  text-align: center;
  font-weight: bold;
  background-color: #640064;
  font-size: 1.5em;
  font-family: 'Titillium Web', sans-serif;
}


h1  {
  font-family: 'Monoton', cursive;
  line-height: 1.4em;
  word-spacing: 0.3em;
  font-size: 4em;

  padding: 0 0.5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
/*   mix-blend-mode: screen;
   background-color: white;
   color: black;*/
}

h1 img {
  display:inline-block;
  margin: 0.8em auto 0 0.5em;
  width: 75%;
/*  padding: 1em;*/
}

h2,
legend {
/*  font-family: 'Bellota', cursive;*/
  font-family: 'Titillium Web', sans-serif;
  text-align: center;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  font-size: 2em;
  /* padding-bottom: 1em;
  border-bottom: 0.2rem solid white; */
}

h3 {
    font-family: 'Titillium Web', sans-serif;
/*    font-family: 'Bellota', cursive;*/
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  font-size: 1.5em;
/*  padding-left: 1em;*/
}

.ok {
  position:absolute;
  left:-3em;
  top:0.5em;
}

.pourcent {
  position:absolute;
  z-index: -1;
  background-color:white;
  top:0;
  left:0;
  bottom:0;
  border-radius: 0.5em;
}

.questions h3 {
  text-align: center;
}

.question {
  border: .1em solid white;
  border-radius: 2em;
}

.question li {
  list-style-type: none;
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.question li a {
  padding: 0.5em;
  flex-grow: 1;
  text-decoration: none;
  border: .1em solid white;
  border-radius: 0.5em;
  position: relative;
  font-weight: bold;
}

.question li p{
  flex-grow: 0;
  padding: 0 0.5em;
  width:3em;
}

fieldset{
  border: .1em solid white;
  padding: 1em 3em;
}


h4 {
    font-family: 'Bellota', cursive;
}

p {
    font-family: 'Bellota', cursive;
}

h2 img,
h3 img {
  margin-right: 0.6em;
}

/* h2:not(:first-child){
  border-top: 0.2rem solid white;
  padding-top: 0.7em;
} */


main a {
  font-family: 'Titillium Web', sans-serif;
}
main p {
  padding: 0.5em;
}


nav {
  grid-area: nav;
  text-align: right;
  margin: 0.5em;
}

nav a{
  margin: 0 0.5em;
}

main {
  width: 90%;
  grid-area: main;
  /* border: 0.2rem solid white;
  border-radius: 0.5em; */
  padding: 0 0.5em;
  /* background-color: #33227715; */
  vertical-align: top;
  margin-left: auto;
  margin-right: auto;
}

footer {
  color: #640064;
  grid-area: ft;
  font-family: 'Titillium Web', sans-serif;
  border-top: 0.1rem solid #640064;
  margin: auto 0;
  padding: 0 2em;
}

.footer_columns-wrapper {
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
}

.footer_column {
  width: 16.666%;
  padding-right: 15px;
  padding-top: 60px;
  z-index: 1;
}

.footer_row {
  margin-bottom: 35px;
}

.footer_row-title {
  display: inline-block;
  color: #c7c8c6;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: .2em;
  font-weight: 900;
  margin-bottom: 10px;
  margin-left: 31px;
}

.footer_content-wrapper {
  opacity: 1;
  visibility: visible;
  overflow: visible;
  height: auto!important;
  border-bottom: none;
  margin: 0;
}

.footer_liens-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.footer_liens-list-item {
  margin-bottom: 10px;
  color: #c7c8c6;
}

.mini_cgu {
  font-size: 0.1em;
}

.mentions_link {
  text-decoration: none;
  margin-left: 75%;
  background-color: #4455CC;
  padding: 0.1em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  border-radius: 50px;
  color: white;
  box-shadow: 2px 1px 1px gray;
}

